@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Poppins", sans-serif;
  background: rgb(45, 77, 131);
  background: radial-gradient(
    circle,
    rgba(45, 77, 131, 1) 0%,
    rgba(55, 40, 135, 1) 100%
  );
}

input {
  border: none;
  border-radius: 10px;
  outline: none;
  width: 600px;
  padding: 1rem;

  font-family: inherit;
  font-size: 1.5rem;

  box-shadow: 0 5px 40px rgba(29, 10, 54, 0.199),
    0 15px 40px rgba(63, 35, 114, 0.144);
}

button {
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  padding: 0.5rem;
  margin-left: 10px;

  font-size: 1.5rem;
  color: white;
  background-color: rgb(32, 23, 80);
}

button:hover {
  background-color: rgb(92, 92, 146);
}

.card {
  border-radius: 20px;
  margin: 5rem;
  padding: 3rem;
  display: flex;
  max-width: 800px;

  box-shadow: 0 5px 40px rgba(38, 11, 73, 0.342),
    0 15px 40px rgba(70, 36, 133, 0.205);
  background-color: rgb(70, 68, 170);
}

.avatar {
  border: 10px solid rgb(43, 43, 115);
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.user-info {
  margin-left: 2rem;
  color: white;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;

  text-align: center;
  font-size: 1rem;
}

.user-info ul li {
  margin: 10px;
}

.repo {
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;

  text-decoration: none;
  font-size: 0.8rem;
  color: #dadada;
  background-color: rgba(135, 98, 221, 0.466);
}
