@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 217, 231);
}

#container {
  overflow: hidden;
  height: 500px;
  width: 600px;

  box-shadow: 3px 3px 4px rgba(71, 71, 71, 0.3);
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;

  transform-origin: center center;
  /* transition: transform 0.3s ease-in-out; */
}
